# Initial Exploration

The data is comprised of Airbnb listings from Boston and Seattle. For each city a `calendar.csv`, a `listings.csv` and a `reviews.csv` is available. First we take a look at the general data structure from each of these files as an intial exploratory step.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

%matplotlib inline

In [14]:
path = "C:\\Users\\zamorem\\Documents\\Python\\Python for Data Analysis\\Project 1 Write a Data Science Blog\\dsblog_arbnb\data\\raw\\"

b_calendar = pd.read_csv(os.path.join(path, 'boston_calendar.csv'))
b_listings = pd.read_csv(os.path.join(path, 'boston_listings.csv'))
b_reviews = pd.read_csv(os.path.join(path, 'boston_reviews.csv'))
s_calendar = pd.read_csv(os.path.join(path, 'seattle_calendar.csv'))
s_listings = pd.read_csv(os.path.join(path, 'seattle_listings.csv'))
s_reviews = pd.read_csv(os.path.join(path, 'seattle_reviews.csv'))

In [23]:
## Join into single datasets but add a column for the city
b_calendar['city'] = 'Boston'
b_listings['city'] = 'Boston'
b_reviews['city']  = 'Boston' 
s_calendar['city'] = 'Seattle'
s_listings['city'] = 'Seattle'
s_reviews['city']  = 'Seattle' 

calendar = b_calendar.append(s_calendar, sort = False)
listings = b_listings.append(s_listings, sort = False)
reviews = b_reviews.append(s_reviews, sort = False)

Now that we have consolidated the datasets for both cities, we take a look at **calendar** first.

In [24]:
print("-- Data types")
print(calendar.dtypes)
print("-- Shape")
print(calendar.shape)

-- Data types
listing_id     int64
date          object
available     object
price         object
city          object
dtype: object
-- Shape
(2702460, 5)

<bound method Series.unique of 0           Boston
1           Boston
2           Boston
3           Boston
4           Boston
            ...
1393565    Seattle
1393566    Seattle
1393567    Seattle
1393568    Seattle
1393569    Seattle
Name: city, Length: 2702460, dtype: object>

In [31]:
print("-- NAs")
print(calendar.isnull().sum()/calendar.shape[0])

print("/n")
calendar.groupby(['city'])['price'].apply(lambda _df: _df.isnull().sum())
# df.groupby('a')['b', 'c'].apply(lambda _df: _df.isna().sum())

-- NAs
listing_id    0.000000
date          0.000000
available     0.000000
price         0.416243
city          0.000000
dtype: float64
/n

city
Boston     665853
Seattle    459028
Name: price, dtype: int64

In [13]:
## Reformat the dates column
b_calendar['date'] = pd.to_datetime(b_calendar["date"]).head()

-- Data types
listing_id     int64
date          object
available     object
price         object
dtype: object
-- Shape
(1393570, 4)
-- NAs
listing_id    0.0000
date          0.0000
available     0.0000
price         0.3507
dtype: float64